body{
  margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    width: 100%;
    background-color: #ffffff;
}
.img1{
    margin-left:40px;
   align-items: center;
}
.links {
    display: flex;
    list-style: none;
}
.li {
    margin:15px;
}
.a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
}
.buttons {
    display: flex;
    gap:20px;
}
.sign-in {
    border: 1px solid #89b9a5;
    background-color: transparent;
    border-radius:15px;
    color: #89B9A5;
    width:80px;
    height:30px;
}
.sign-up{
    border: 1px solid #6B759D;
    background-color:#6B759D;
    border-radius:15px;
    color:white;
    margin-right:60px;
    width:80px;
    height:30px;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#7F56D90A,white);
}
.h1{
    width:400px;
    color: #6c769e;
    font-size: 300%;
    margin-left: 100px;
}
.s1{
    color: #0a0c2b;
}
.s2{
    color: #8abaa6;
}
.img2{
    height:15px;
}
.img3{
    height:15px;
}
.img4{
    margin-top: 30px;
}
.b1{
    color: #555b73;
    height:40px;
    width: 150px;
    margin-left: 100px;
    margin-top:20px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.b2{
    height: 40px;
    width: 150px;
    color: #555b73;
    margin-top: 5px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.b3{
    height: 40px;
    width: 150px;
    background-color: #6c769e;
    border-color: #6c769e;
    color: #ffffff;
}
.p1{
    color:#585c67;
    width:480px;
    margin-left: 100px;
}
.div2{
    display: flex;
    justify-content: center;
}
.main-container{
    display: flex;
    background: linear-gradient(to right,#eee8fa, white);    
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.container{
    position: relative;
    width: fit-content;
}
.card {
    background-color:white;
    width: 250px;
    height: 150px; 
    border-radius: 20px;
    text-align: center;
    padding-top:50px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.calender{
    width: fit-content;
    height: fit-content;
    border-radius:50%;
    position: absolute;
    background-color: #eee8fa;
    top:-65px;
    left:66px;
}
.img5{
    height:120px;
    width:120px;
}
.p2{
    width: 250px;
    font-weight: bold;
    font-size:19px;
    margin-top:35px;
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
}

  .container1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    width: 900px;
  }
  .countdown {
    display: flex;
  }
  .div14{
    display: flex;
    justify-content: center;
  }
  
  .time-box {
    text-align: center;
  }
  
  .number {
    font-size:60px;
    font-weight: bold;
    color: #D02467;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .label {
    font-size: 0.9rem;
    color: #666;
    display: block;
    margin-left: 40px;
  }
  .p3 {
    font-size:40px;
    width:400px;
    margin-bottom:25px;
    color: #333;
  }
  
  .hire-btn {
    background-color: #4E5DFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 18px;
  }
  .div7{
    position: relative;
  }
  .img8{
    margin-left:20px;
  }
.img9{
    position: absolute;
    width:100%;
    z-index:-1;
    margin-top:180px;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.img10{
    margin-top:230px;
}
  .h2{
    margin-left:30px;
    font-size: 46px;
    margin-top:200px;
  }
  .p4{
    width:450px;
    margin-left: 30px;
    color:#585C67;
  }
  .div8{
    display: flex;
  }
  .h3{
    font-size: 18px;
    margin-top:30px;
  }
  .div9{
    display: flex;
    justify-content: center;
  }
  .p5{
    width:370px;
  }
  .p6{
    width: 400px;
  }
  .div10{
    text-align: center;
    margin-top: 100px;    
  }
  .h4{
    font-size: 46px;
  }
  .div11{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .signup-container {
    text-align: center;
    background-color:#89B9A5;
    height:308px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:1000px;
    overflow: hidden;
    margin-top: 100px;
  }
  .div15{
    display: flex;
    justify-content: center;
  }
  .p7 {
    font-size: 16px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

  }
  .h6{
    font-size:36px;
  color:white; 
  margin-top:80px;
  font-family: Arial, Helvetica, sans-serif;
  }

  .form-group {
    display: flex;
   justify-content: center;
   margin-top:30px;
  }

  .input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }

  .button {
    background-color:#F0D29C;
    color:black;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 0 5px 5px 0;
  }

  .footer1 {
    background-color:white;
    padding: 20px ;
    border-top: 1px solid #ddd;
    margin-top: 100px;
  }
  .img12{
    margin-left: 20px;
    margin-top:30px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .p8 { 
    color: #555;
    margin-left:20px;
  }
  
  .img11{
    width:44px;
  }
  
  .footer-links {
    display: flex;
   margin-left:150px;
  }
  
  .h7 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    margin-left: 40px;
  }
  
  .ul1 {
    list-style: none;
    padding: 0px;
    margin-left: 40px;
  }
  .ul2{
    margin-left: 120px;
  }
  
  .li1 {
    margin-bottom:10px;
  }
  .h8{
    margin-left: 120px;
  }
  .a1 {
    text-decoration: none;
    color: #555;
  }
  .div13{
    width: 100%;
    height: 56px;
    background-color: #2F2F2F;
    overflow: hidden;
  }
  .p9{
    color: white;
    text-align: center;
    margin-top:20px;
  }
  