.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    width: 100%;
    background-color: #ffffff;
}
.img1{
    margin-left:40px;
   align-items: center;
}
.links {
    display: flex;
    list-style: none;
}
.li {
    margin:15px;
}
.a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
}
.buttons {
    display: flex;
    gap:20px;
}
.sign-in {
    border: 1px solid #89b9a5;
    background-color: transparent;
    border-radius:15px;
    color: #89B9A5;
    width:80px;
    height:30px;
}
.sign-up{
    border: 1px solid #6B759D;
    background-color:#6B759D;
    border-radius:15px;
    color:white;
    margin-right:60px;
    width:80px;
    height:30px;
}
.div1{
    display: flex;
    align-items: center;
    background: linear-gradient(to right,#7F56D90A,white);
}
.h1{
    width: 70%;
    color: #6c769e;
    font-size: 300%;
    margin-left: 100px;
}
.s1{
    color: #0a0c2b;
}
.s2{
    color: #8abaa6;
}
.img2{
    height:15px;
}
.img3{
    height:15px;
}
.img4{
    margin-top: 30px;
}
.b1{
    color: #555b73;
    height:40px;
    width: 150px;
    margin-left: 100px;
    margin-top:20px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.b2{
    height: 40px;
    width: 150px;
    color: #555b73;
    margin-top: 5px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.b3{
    height: 40px;
    width: 150px;
    background-color: #6c769e;
    border-color: #6c769e;
    color: #ffffff;
}
.p1{
    color:#585c67;
    width:480px;
    margin-left: 100px;
}
.div2{
    display: flex;
    justify-content: center;
}
.main-container{
    display: flex;
    background: linear-gradient(to right,#eee8fa, white);    
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.container{
    position: relative;
    width: fit-content;
}
.card {
    background-color:white;
    width: 250px;
    height: 150px; 
    border-radius: 20px;
    text-align: center;
    padding-top:50px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.calender{
    width: fit-content;
    height: fit-content;
    border-radius:50%;
    position: absolute;
    background-color: #eee8fa;
    top:-65px;
    left:66px;
}
.img5{
    height:120px;
    width:120px;
}
.p2{
    width: 250px;
    font-weight: bold;
    font-size:19px;
    margin-top:35px;
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
}


.countdown-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:40px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:900px;
    margin: 20px auto;
  }
  .div2{
    color: #D02467;
    font-weight: bold;
    margin: 10px;
    font-size:60px;
  }
  
  .div3{
    color: #F52D3A;
  }
  .div4{
    color: #FE672E;
  }
  .div5{
    color:#FEBE26;
  }
  .div6{
    display:flex;
  }
  .timer{
    display: flex;
  }
  
  .h3 {
    margin: 0;
    font-size:30px;
    color: #333;
    width:400px;
  }
  
  .hire{
    margin-top: 10px;
    padding: 10px 20px;
    background-color:#6B759D;
    color: white;
    border: none;
    border-radius:18px;
    cursor: pointer;
  }
